@import "bourbon/bourbon"

body
	font-family: "Raleway", sans-serif
	font-weight: normal
	font-size: 14px
	min-width: 320px
	position: relative
	line-height: 1.6
	-webkit-font-smoothing: antialised

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: red
body input:required:valid,
body textarea:required:valid
	color: green

.hidden
	display: none

section,
.main_head
	position: relative

.main_head
	min-height: 480px
	padding-top: 20px

.loader
	background: none repeat scroll 0 0 #ffffff
	position: fixed
	width: 100%
	height: 100%
	bottom: 0
	top: 0
	right: 0
	left: 0
	z-index: 9999
	.loader_inner
		background-image: url("../img/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		position: absolute
		width: 64px
		height: 64px
		left: 50%
		top: 50%
		margin-top: -32px
		margin-left: -32px

.logo_container
	float: left

svg
	height: 60px
	width: 60px
	position: relative
	z-index: 10

.toggle_mnu
	position: fixed
	width: 60px
	height: 60px
	top: 20px
	right: 20px
	z-index: 100
	border: none

$w: 34px
$h: 3px

.sandwich 
	width: $w
	height: $w
	position: absolute
	top: 12px
	bottom: 0
	left: 0
	right: 0
	margin: auto
	z-index: 200
	display: block
	> span
		display: block

.sw-topper
	position: relative
	top: 0
	width: $w 
	height: $h
	background: rgb(255, 255, 255)
	border: none 
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s

/* transition-delay: 0.2s, 0s */

.sw-bottom
	position: relative
	width: $w
	height: $h
	top: $h * 2
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	transition: transform 0.5s, top 0.2s
	transition-delay: 0.2s, 0s 

.sw-footer
	position: relative
	width: $w
	height: $h
	top: $h * 4
	background: rgb(255, 255, 255)
	border: none
	border-radius: 4px 4px 4px 4px
	transition: all 0.5s
	transition-delay: 0.1s 

.sandwich.active 
	.sw-topper
		top: 10px
		transform: rotate(140deg)
	.sw-bottom
		top: 7px
		transform: rotate(-140deg)
	.sw-footer
		opacity: 0
		top: 0
		transform: rotate(180deg)

.top_mnu
	position: fixed
	width: 100%
	height: 100%
	background-color: rgba(0, 0, 0, .85)
	z-index: 50
	right: 0
	top: 0
	display: none
	ul,
	li
		list-style-type: none
		padding: 0
		margin: 0
	ul
		margin-top: 160px
		text-align: center
		a
			color: #fff
			display: block
			padding: 20px 0 21px 0
			text-transform: uppercase
			font-size: 12px

.header_name_table
	display: table
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 10
	.header_name_cell
		display: table-cell
		text-align: center
		vertical-align: middle

.header_name_container
	display: inline-block
	+transition(all, 1s, ease)
	h1
		display: inline-block
		color: #fff
		font-size: 2.8em
		font-weight: bold
		text-transform: uppercase
		padding: 10px 35px
		margin-left: 20px
		margin-right: 20px
		border: 8px solid #fff
		background-color: rgba(0,0,0,.1)
		+animation-delay(0.5s)
	p
		margin: 0
		text-transform: uppercase
		+animation-delay(1s)

section
	padding: 70px 0 90px

.section_header
	text-align: center

.section_header_title
	font-size: 24px
	text-transform: uppercase
	margin: 0 0 15px

.section_header_descr
	position: relative
	display: inline-block
	font-size: 12px
	text-transform: uppercase
	font-weight: 600
	margin-bottom: 130px
	&:after
		content: ''
		position: absolute
		left: 50%
		top: 60px
		margin-left: -75px
		width: 150px
		height: 1px		

.section_about_content_title
	margin-top: 0
	margin-bottom: 35px
	text-align: center
	font-size: 12px
	text-transform: uppercase
	font-weight: 400

.section_about_photo_wrapper
	text-align: center
	margin-bottom: 35px

.section_about_photo
	display: inline-block
	max-width: 220px
	border-radius: 50%

.section_about p
	margin-bottom: 25px

.section_about_name
	font-size: 13px
	text-transform: uppercase
	text-align: left
	margin: 0 0 30px
	color: #555

.section_about_personal_info_ul,
.section_about_social_btns_ul
	margin: 0
	padding: 0
	list-style-type: none

.section_about_personal_info_ul li
	margin-bottom: 10px

.section_about_social_btns_ul
	margin-top: 25px

.section_about_social_btns_ul li 
	display: inline-block
	font-size: 20px
	padding: 0 3px

.resume_content_col_left
	text-align: right
	border-right: 1px solid #d2d2d2

.resume_content_col_right
	text-align: left

.resume_content_title
	font-size: 16px
	font-weight: 600
	text-transform: uppercase
	margin: 30px 0 35px 0

.resume_content_icon
	font-size: 40px
	margin-bottom: 35px

.resume_content_item
	margin-bottom: 40px
	&:last-child
		margin-bottom: 0

.resume_content_item_year
	display: inline-block
	font-weight: 600
	font-style: italic
	padding: 0 15px
	margin-bottom: 15px

.resume_content_item_title
	.job
		font-style: italic
	.position		
		font-weight: 600
		text-transform: uppercase

.resume_content_col_left
	.resume_content_item_title .position
		margin-left: 10px
.resume_content_col_right
	.resume_content_item_title .position
		margin-right: 10px

.resume_content_item_descr
	margin-top: 10px
	&:last-child
		margin-bottom: 0

.portfolio_controls
	margin: 0
	padding: 0
	list-style-type: none
	margin-bottom: 50px
	text-align: center

.portfolio_control_item
	display: inline-block
	margin: 0 10px
	font-size: 12px
	text-transform: uppercase
	line-height: 2
	cursor: pointer

.portfolio_item
	display: none
	padding: 0
	img
		width: 100%

.portfolio_item_overlay
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	background-color: rgba(0,0,0,.8)
	text-align: center
	padding-top: 15%
	opacity: 0
	+transition(all, 0.5s)
	&:hover
		padding-top: 20%
		opacity: 1
	h3
		margin: 0
		text-transform: uppercase
		font-size: 12px
		font-weight: 400
	a
		display: inline-block
		border: 1px solid #fff
		padding: 2px 10px

.contacts_content_box
	text-align: left
	margin-bottom: 30px

.contacts_content_icon
	font-size: 30px

.contacts_content_title
	margin: 0
	font-size: 14px
	color: #000
	text-transform: uppercase
	font-weight: 400

.contacts_content_descr
	margin-top: 5px

.form-group
	display: block
	margin-bottom: 20px
	.color_element
		font-weight: 700
		font-size: 18px

.main_form
	input,
	textarea
		display: block
		margin-top: 5px
		width: 100%
		font-size: 12px
		line-height: 40px
		text-indent: 12px
		border: 1px solid #ccc
		background-color: transparent
	button
		border: none
		color: #fff
		line-height: 40px
		padding: 0 25px
		font-size: 13px
		text-transform: uppercase
		font-weight: 600
		margin-top: 10px
		float: right

.text_danger
	font-size: 11px
	margin-top: 5px
	display: block

.footer
	padding: 50px 0
	font-size: 13px
	font-weight: 300
	.section_about_social_btns_ul
		margin: 0
		float: right
		line-height: 0



