body {
  color: #222; }

a,
.section_about p:nth-child(even) {
  color: #FF6347; }

p,
footer.footer {
  color: #888; }

.color_element {
  color: #FF6347; }

.color_bg {
  background-color: #FF6347; }

.color_border {
  border-color: #FF6347; }

.main_color_bg {
  background-color: #222; }

.bg_light {
  background-color: #FAFAFA; }

.bg_dark {
  background-color: #222;
  color: #fff; }
  .bg_dark .section_header_descr:after {
    background-color: #fff; }

svg path {
  fill: #FAFAFA; }

.toggle_mnu {
  background-color: #000; }

.top_mnu a:hover {
  color: #FF6347;
  background-color: rgba(255, 255, 255, 0.05); }
.top_mnu a {
  letter-spacing: 4px; }

.header_name_container p {
  color: #FAFAFA;
  letter-spacing: 5px; }

.section_header_title {
  letter-spacing: 1px; }

.section_header_descr {
  letter-spacing: 4px; }
  .section_header_descr:after {
    background-color: #222; }

.section_about .section_content {
  color: #888; }

.section_about_content_title {
  letter-spacing: 3px; }

.section_about_name {
  letter-spacing: 2px; }

.resume_content_title {
  letter-spacing: 1px;
  color: #222; }

.resume_content_item_year {
  background-color: #FF6347;
  color: #fff; }

.resume_content_item_title {
  letter-spacing: 1px; }

.portfolio_control_item {
  letter-spacing: 2px;
  color: #888; }

.portfolio_control_item.active {
  color: #fff;
  border-bottom: 1px solid #FF6347; }

.portfolio_item_overlay h3 {
  color: #fff;
  letter-spacing: 3px; }
.portfolio_item_overlay a {
  border-color: #FF6347;
  color: #FF6347; }

.contacts_content_icon {
  color: #FF6347; }

.contacts_content_title {
  letter-spacing: 3px; }

.form-group {
  color: #888;
  letter-spacing: 2px; }

.main_form input,
.main_form textarea {
  letter-spacing: 2px; }
.main_form button {
  background-color: #FF6347;
  letter-spacing: 2px; }

.text_danger {
  color: #FF6347; }
